/* css normalization  */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}

  /*Selectores del container */
  .container {
    background-color: brown;
  }
  
  /*Selectores del main section*/
  .main-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    align-content: center;
  }

  .head-paragraph{
    
  }
  
  /*Selectores de la seleccion del campeon*/
  .choose-your-champion {
    background-color: blue;
    align-items:center;
  }

  .choose-your-champion-margin{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    margin-top: 10em;
    margin-bottom: 3em;
  }
  
  /*Selectores del filtro de seleccion de campeones*/
  .filter-selection {
    background-color: blueviolet;
    
  }

  /*Barra de navegación*/
  .filter-options {
    display: flex;
    align-items: baseline;
    text-align: center;
    justify-content: center;
    padding: 12px 16px;
  }

  .search-bar {
    font-family: "Arial";
    font-size: 20px;
    text-align: center;
    padding: 0.30rem 0.50rem;
    border-radius: 0.25rem;
    background-color: #25282A;
    border-color: #25282A;
  }

  .champClass {
    text-align: center;
    text-decoration: none;
    display: inline;
    padding: 14px 16px;
  }

  .champFilters {
    float: right;
    text-decoration: none;
    display: inline;
    padding: 14px 16px;
  }
/* 79*98 */
  /*Menú desplegable */
  .dropdown-difficulty {
    position: relative;
    display: inline-block;
  }

  .dropdown-content-difficulty {
    display: none;
  }

  .dropdown-stats {
    position: relative;
    display: inline-block;
  }

  .dropdown-content-stats {
    display: none;
  }
  
  /*Selectores del flex container*/
  .flex-container {
    background-color: indigo;
  }
  
  /* Tamaño de imágenes en mosaico */
  .champion-image {
    height: 180px;
  }
  
  /* Flex aplicado a mosaico */
  .champion-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }


  .dropbtn {
    /* background-color: #04AA6D; */
    /* color: white; */
    padding: 16px;
    /* font-size: 16px; */
    /* border: none; */
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
/* Este hover cambia el color de el boton del menu cuando se esta haciendo hover en el */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */
