@import "https://db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=Beaufort+for+LOL+Bold";

/*Selectores principales */
:root {
  --color-gold: #c28f2c;
  --color-white: aliceblue;
  --color-gray: #444444;
  --color-black: #111111;
  --color-gray-bar: #364044;
}

h1 {
  font-size: 120px;
  font-family: "Beaufort for LOL Bold";
  color: var(--color-gold);
  margin: 5px;
  padding: 3px;
}

h2 {
  font-size: 36px;
  font-family: "Beaufort for LOL Bold";
  color: var(--color-gold);
  margin: 5px;
  padding: 5px;
}

h3 {
  font-size: 24px;
  font-family: "Beaufort for LOL Bold";
  color: var(--color-gold);
}

p {
  font-size: 21px;
  font-family: "Arial";
  color: var(--color-white);
  text-align: center;
  margin: 5px;
  padding: 20px;
}

/*Selectores del header */
.headerLinks {
  background-color: var(--color-black);
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

ul {
  height: auto;
  list-style-type: none;
}

/*Menu principal */
.mainMenu {
  float: left;
  margin-left: 2rem;
  color: var(--color-gold);
  align-items: baseline;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

.mainMenu:hover {
  background-color: var(--color-gray);
  border-radius: 10px;
}

/*Logo menu principal*/
.logoMainMenu {
  float: left;
  margin-left: 2rem;
  text-decoration: none;
}

/*Boton play free */
.mainMenuHeaderBotton {
  float: right;
  margin-right: 2rem;
  border: 3px solid;
  padding: 1rem;
  border-color: var(--color-gold);
  border-radius: 10px;
  text-decoration: none;
}

.mainMenuHeaderBotton:hover {
  background-color: var(--color-gray);
  border-radius: 10px;
}

/*Selectores del footer */
.footer {
  background-color: var(--color-black);
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.social-networks {
  color: aliceblue;
}

.riotbar-game-rating-rectangle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  user-select: none;
  box-sizing: border-box;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.riotbar-game-rating-block {
  max-width: 100%;
  padding: 8px 12px;
  background: var(--color-gray);
  border-radius: 8px;
}

.riotbar-game-rating {
  display: block;
  background-color: transparent;
  background-size: contain;
  flex-shrink: 0;
  max-width: 100%;
}

.riotbar-game-rating-text {
  display: inline-block;
  text-align: left;
  color: var(--color-white);
  margin-left: 12px;
  font-size: 13px;
  font-weight: 600;
  line-height: 150%;
  font-family: Arial, sans-serif;
}

.footer-paragraph {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  font-family: "Arial";
  color: var(--color-gray);
  font-size: 14px;
  margin-top: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

