@import "https://db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=Beaufort+for+LOL+Bold";

/*Selectores principales */
:root {
  --color-gold: #c28f2c;
  --color-white: aliceblue;
  --color-gray: #444444;
  --color-black: #111111;
}

h1 {
  font-size: 120px;
  font-family: "Beaufort for LOL Bold";
  color: var(--color-gold);
  margin: 5px;
  padding: 3px;
  
}

h2 {
  font-size: 36px;
  font-family: "Beaufort for LOL Bold";
  color: var(--color-gold);
  margin: 5px;
  padding: 5px;
}

h3 {
  font-size: 24px;
  font-family: "Beaufort for LOL Bold";
  color: var(--color-gold);
}

p {
  font-size: 21px;
  font-family: "Arial";
  color: var(--color-white);
  margin: 5px;
  padding: 20px;
}

/*Selectores del header */
.header-links {
  background-color: transparent;
  overflow: hidden;
}
ul {
  height: auto;
}

li .info {
  padding: 14px 16px;
  float: left;
  color: var(--color-gold);
  align-items: baseline;
  margin: 5px;
  text-align: center;
  text-decoration: none;
}

li a {
  color: var(--color-gold);

}


.info:hover {
  background-color: #444444;
}

li .header-btn {
  position: absolute;
  right: 0;
  border: 2px solid;
  border-color: var(--color-gold);
  border-radius: 5px;
} 

.header-btn :hover {
  background: var(--color-gold);
  color: #444444;
}





/*Selectores del footer */
.footer {
  background-color: var(--color-black);
}

.footer-paragraph {
  font-size: 14px;
  font-weight: bolder;
  font-family: "Arial";
  color: var(--color-gray);
  text-align: center;
}
